<div fxLayout="row wrap" fxLayoutAlign="start" >
    <div fxFlex="100"> 
            <div class="row data-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
              [scrollWindow]="false" style="height: 500px; overflow-y: scroll;">  
          
              <table mat-table [dataSource]="ds">  
                <ng-container matColumnDef="id">  
                  <th mat-header-cell *matHeaderCellDef> WorkflowId </th>  
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>  
                </ng-container>  
                 
                <ng-container matColumnDef="name">  
                  <th mat-header-cell *matHeaderCellDef> name </th>  
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>  
                </ng-container>  
                
                <ng-container matColumnDef="workflowType">  
                  <th mat-header-cell *matHeaderCellDef> workflowType</th>  
                  <td mat-cell *matCellDef="let element"> {{element.userRequestModel.workflowType}} </td>  
                </ng-container> 
                
                <ng-container matColumnDef="jobId">  
                  <th mat-header-cell *matHeaderCellDef> jobId </th>  
                  <td mat-cell *matCellDef="let element"> {{element.userRequestModel.jobId}} </td>  
                </ng-container> 

                <ng-container matColumnDef="cnameAr">  
                  <th mat-header-cell *matHeaderCellDef> name </th>  
                  <td mat-cell *matCellDef="let element"> {{element.userRequestModel.cnameAr}} </td>  
                </ng-container> 
                 
                <ng-container matColumnDef="edit">  
                  <th mat-header-cell *matHeaderCellDef>View</th>  
                  <td mat-cell *matCellDef="let element">  
                      <button class="mrgn-all-xs" mat-icon-button (click)="viewDetails(element)">
                          <mat-icon>visibility</mat-icon>
                      </button>
                    </td>  
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table> 
     </div>  
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard" *ngIf="dataStatus">
      <mat-card fxFlex="100%">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" fxLayout="column">
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>Course Name</h5> 
                    {{data.userRequestModel.courseName}}
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>Requested By</h5>
                      {{data.userRequestModel.cnameAr}}  -   {{data.userRequestModel.jobId}} 
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>Department</h5>
                      {{data.userRequestModel.department}} 
                  </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>Course Date</h5>
                     {{activation!=null && activation.courseDate!=null?activation.courseDate:""}} 
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>Estimated Duration</h5>
                    {{activation!=null && activation.duration!=null ? activation.duration:""}}  -  {{durationValueString}} 
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>Approvals</h5>
                      <table border="1">
                          <tr>
                            <th>User</th>
                            <th>Role</th>
                            <th>Action</th>
                            <th>Start Date</th>
                          </tr>
                          <tr  *ngFor="let item of historyExecutions">
                            <td>{{item.assignee}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.deleteReason!=null?item.deleteReason:"Processing" }}</td>
                            <td>{{item.startTime}}</td>
                          </tr> 
                    
                    </table>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>Comments</h5>
                        <mat-list-item *ngFor="let item of items">
                              {{item}}
                        </mat-list-item>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>Add Comment</h5>
                      <mat-form-field class="full-wid mrgn-b-md">
                              <input  matInput placeholder="Comment" [(ngModel)]="commentTxt" >
                      </mat-form-field>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button  color="primary" (click)="approve()"  color="accent">Approve</button>
                    <button mat-raised-button  color="primary" (click)="reject()" color="warn">Reject</button>
                </div>
              </div>   
      </mat-card>
  </div>
