.data-table {
    border-radius: 10px !important;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;

  }

  ::ng-deep body .mat-form-field-appearance-legacy .mat-form-field-label, body .mat-form-field-appearance-legacy .mat-hint {
    color: rgb(0, 0, 0) !important;
}