<div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
       <div class="user-content">
          <mat-card>
              <h4>{{language.title_delegation}}</h4>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div fxLayout="column">
                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                          <div  class="date_margin"  fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100"> 
                              <mat-form-field class="full-wid mrgn-b-md">
                                  <input matInput placeholder={{language.jobId}}  formControlName="jobId"  >
                               </mat-form-field>  
                               </div>

                          <mat-form-field class="full-wid mrgn-b-lg" >
                               <input matInput placeholder={{language.employeeName}}  formControlName="empName" [matAutocomplete]="auto"  >
                          </mat-form-field>  
                    

                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnUser"  (optionSelected)='displayFn($event.option.value)' >
                              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
                              <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let user of filteredUsers" [value]="user">
                                  <span>{{ user.cname_AR }}</span>
                                  <small> |  {{user.legacycode}}</small>
                                </mat-option>
                              </ng-container>
                          </mat-autocomplete> 

                      </div>
                      <div   fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                          <mat-form-field  class="date_margin"  >
                              <input matInput [matDatepicker]="myDatepicker" 
                              [matDatepickerFilter]="dateFilter"
                              
                                    placeholder={{language.chooseStartDate}} formControlName="startDate">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field  >
                              <input matInput [matDatepicker]="myDatepicker1" 
                              [matDatepickerFilter]="dateFilter"
                              
                                    placeholder={{language.chooseEndDate}} formControlName="endDate">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker1">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker1></mat-datepicker>
                          </mat-form-field>

                       </div>
                          
                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                              <button mat-raised-button color="primary" type="submit">{{language.btn_save}}
                                </button> 
                       </div> 
                       </div>        
              </form>
          </mat-card>
        </div>
      </div>
</div>


<div fxLayout="row wrap" fxLayoutAlign="start" >
    <div fxFlex="100"> 
            <div class="row data-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
              [scrollWindow]="false" style="height: 500px; overflow-y: scroll;">  
          
              <table mat-table [dataSource]="ds">  

                <ng-container matColumnDef="id">  
                  <th mat-header-cell *matHeaderCellDef>id </th>  
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>  
                </ng-container>  
                
                <ng-container matColumnDef="fromUser">  
                  <th mat-header-cell *matHeaderCellDef> fromUser</th>  
                  <td mat-cell *matCellDef="let element"> {{element.fromUser}}  </td>  
                </ng-container>  
                <ng-container matColumnDef="toUser">  
                    <th mat-header-cell *matHeaderCellDef>toUser </th>  
                    <td mat-cell *matCellDef="let element"> {{element.toUser}}  </td>  
                  </ng-container> 

                  <ng-container matColumnDef="startDate">  
                      <th mat-header-cell *matHeaderCellDef>startDate </th>  
                      <td mat-cell *matCellDef="let element"> {{element.startDate}}  </td>  
                    </ng-container> 

                    <ng-container matColumnDef="endDate">  
                        <th mat-header-cell *matHeaderCellDef>endDate </th>  
                        <td mat-cell *matCellDef="let element"> {{element.endDate}}  </td>  
                      </ng-container> 
                 
                
            
                <ng-container matColumnDef="delete">  
                    <th mat-header-cell *matHeaderCellDef>delete</th>  
                    <td mat-cell *matCellDef="let element">  

                        <button mat-raised-button color="warn"  class="m-1" (click)="cancelRow(element)">delete</button>
                           
              
                      </td>  
                  </ng-container> 

                <!-- <ng-container matColumnDef="HStatus">  
                    <th mat-header-cell *matHeaderCellDef>{{language.hoursError}} </th>  
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip color="{{element.hourFlag==0?'primary':'warn'}}" selected> {{element.hourFlag==0?"OK":"Error"}} </mat-chip>
                         </mat-chip-list> 
                      </td>  
                  </ng-container> -->
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table> 
     </div>    
    </div>
  </div>

