<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
     <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
           <div fxLayout="column">
              <h4>User Permissions</h4>
           </div>
           <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
     </div>
     <h1>Don't upadate this form, only for developers</h1>
     <div class="gene-card-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
           <div fxLayout="column">
              <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                   <mat-form-field class="full-wid mrgn-b-md">
                      <mat-select placeholder="Role" matInput formControlName="userRole">
                         <option [ngValue]="null">Select Role</option>
                         <mat-option *ngFor="let obj of systemRoles"
                          [value]="obj">
                            {{obj.remark}}
                         </mat-option>
                      </mat-select>
                   </mat-form-field>
              </div>
              <div>
                <table border="1">
                  
                  <tr><th>Permissions</th><th>Enabled/Disabled</th></tr>  
                  <tr  *ngFor="let item of systemPermissions">
                      <td>{{item.name}}</td>
                      <td>
                          <mat-checkbox  class="example-margin">
                          </mat-checkbox> 
                      </td>
                  </tr>
                
                </table>
              </div>
              <br/>
              <div fxLayout="row" fxLayoutAlign="start">
                 <button mat-raised-button color="primary"   type="submit">Update
                 </button>
              </div>

           </div>
        </form>
     </div>
  </mat-card>
</div>
