<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
               <div fxLayout="column">
                  <h4>LINK COURSE</h4>
               </div>
               <span fxFlex></span>
            </div>
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
                <div fxLayout="column">
                    <div  fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Activity Type" matInput formControlName="activitySelect">
                                    <mat-option *ngFor="let item of activityList" [value]="item.activityId" >
                                          {{item.activityName}} 
                                           </mat-option>
                                 </mat-select>
                           <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <mat-form-field class="full-wid mrgn-b-lg">
                                 <mat-select (selectionChange)="getCourseDetails($event)" placeholder="Courses" matInput formControlName="courseSelect" >
                                       <mat-option *ngFor="let item of courseList" [value]="item.courseId" >
                                      {{item.courseName}} 
                                       </mat-option>
                                    </mat-select>
              
                           </mat-form-field>
                        </div>


                        <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
               
                           <h4>Course Category</h4>
                           {{courseDetails.tacCourseCategory!=null?courseDetails.tacCourseCategory.description:""}}  
                         
                           </div>
                
                           
                           

                                 <div *ngIf="displayCourseDetails" fxLayout="row wrap" fxLayoutAlign="space-between center" class="notEditableField">
                  
                                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                          <h4>Course Period</h4>

                                          {{courseDetails.duration}}
                                      
                                          
                                    </div>
             
                                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                          <h4>Duration Type</h4>
                                          {{courseDetails.durationFlag}}
                                       
                                          
                                    </div>
                  
                                 </div>
                  
                                 <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
                                       <h4>Objective</h4>
                                       {{courseDetails.objective}}
                                    </div>
                                    <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField" >
                                          <h4>Expected Result</h4>
                                       <div *ngFor="let item of expectedResult">
                                          
                                             {{item.result}}
                                      
                                       </div> 
                                       </div>
                                       <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
                                          <h4>Guidelines</h4>
                                             <div *ngFor="let item of guidelineList">  
                                                   {{item.description}}
                                                   
                                                   </div> 
                                          </div>
                                          

                                          <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
                                          
                                                <h4>Audiences</h4>
                                                <div *ngFor="let item of targetAudienceString">  
                                                      {{item}}
                                                      
                                                      </div> 
                                             
                                             </div>

                                             <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">

                                                   <h4>No Of Hours</h4>
                                             {{courseDetails.numberofhours}}
                                            
                                             </div>
                                             
                                             <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                                <mat-form-field class="full-wid mrgn-b-lg">
                                                      <mat-select placeholder="Location" matInput formControlName="locationSelect">
                                                            <mat-option *ngFor="let item of tacCourseLocation" [value]="item.locationId" >
                                                                  {{item.locationName}} 
                                                                   </mat-option>
                                                         </mat-select>
                                                   <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                                                </mat-form-field>
                                                </div>

                                             <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                             <mat-form-field>
                                                   <input matInput [matDatepicker]="myDatepicker" placeholder="Choose a date">
                                                   <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                                   <mat-datepicker #myDatepicker></mat-datepicker>
                                             </mat-form-field>
                                                </div>
                                                
                                                   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                                      <mat-form-field class="full-wid mrgn-b-lg">
                                                      <mat-select placeholder="Prerequisites" matInput formControlName="prerequisitesSelect">
                                                            <mat-option *ngFor="let item of tacCoursePrerequisites" [value]="item.prerequisitesId" >
                                                                  {{item.description}} 
                                                                   </mat-option>
                                                         </mat-select>
                                                   <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                                                </mat-form-field>
                                                      </div>
                                                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                                            <mat-form-field class="full-wid mrgn-b-lg">
                                                                  <mat-select placeholder="SubCourses" matInput >
                                                                        <mat-option *ngFor="let item of subCourse" [value]="item.value" >
                                                                              {{item.viewValue}} 
                                                                               </mat-option>
                                                                     </mat-select>
                                                               <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                                                            </mat-form-field>
                                                         </div>
                                                         <div fxLayout="row" fxLayoutAlign="start">
                                                               <button mat-raised-button color="primary" type="submit">Save
                                                               </button>
                                                         </div>


                     </div>
                     </form></div></mat-card></div>
