
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">

		<mat-card fxFlex="100%">
				<div class="gene-card-title">
				  <div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
					  <h4>{{language.title_courseRequestSearch}}</h4>
					</div> <span fxFlex></span>
				  </div>
				  <mat-divider></mat-divider>
				</div>
				<div class="gene-card-content">
				  <form [formGroup]="form" (ngSubmit)="searchFutureCourses()">
				<div fxLayout="row wrap" fxLayoutAlign="space-between center">
				  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<mat-form-field class="full-wid mrgn-b-md">
						  <input matInput placeholder={{language.courseName}} formControlName="courseName">
						</mat-form-field>
						
					  </div>

					  <div *ngIf="isHead" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<mat-form-field class="full-wid mrgn-b-md">
					   <mat-select placeholder={{language.courseSuggession}} matInput formControlName="supervisorsCtrl">
						  <option [ngValue]="null">Select Employee</option>
						  <mat-option *ngFor="let obj of employeesUnderSupervisor"
						   [value]="obj">
							 {{obj.legacyCode}} -  {{obj.cNameAr}} 
						  </mat-option>
					   </mat-select>
					</mat-form-field>
				 </div>
					</div>
			
					<div class="pad-wrap">
					  <div fxLayout="row" fxLayoutAlign="start">
						  		<!--<button mat-raised-button color="primary" (click)="onSubmit('save')" type="submit" [enabled]="!form.valid">Save</button>-->
				   <!-- <button mat-raised-button color="primary" (click)="onSubmit('searchFutureCourses()')" type="submit">Search</button>-->
				   <button mat-raised-button color="primary" type="submit">{{language.btn_search}}</button>
						<!--<button mat-raised-button color="primary"  type="submit" [disabled]="!form.valid">Search</button>-->
					
					  </div>
					</div>
				  </form>
				</div>
			
			
			  </mat-card>
			


	<div fxFlex="100">
		<ngx-datatable 
		#table class='material mrgn-all-md' 
		[columnMode]="'force'" 
		[headerHeight]="50"
		[footerHeight]="50"
		[rowHeight]="'auto'" 
		[limit]="10" 
		[rows]='rows' 
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[messages]="{emptyMessage: language.noDataToDisplay}">

			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseName}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.courseName}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseStartDate}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.course_date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseEndDate}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.end_date}}
				</ng-template>
			</ngx-datatable-column>
	

				<ngx-datatable-column min-width="50px" >
					<ng-template ngx-datatable-header-template>
					  <span>{{language.courseDetails}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
			
					  <button mat-raised-button color="primary" class="m-1" type="button"
					  (click)=getActivationData(row)>{{language.btn_details}}</button>
			  
					</ng-template>
				  </ngx-datatable-column>
				</ngx-datatable>	
	</div>
	<form [formGroup]="formDetails" fxFlex="100" class="gene-card-content">
	<div *ngIf="displayCourseDetails" >
		<mat-card>
			<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"
				fxLayout="column">
				<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
					<h4>{{language.courseName}}</h4>
					{{activation.courseName}}
				</div>
				<div fxLayout="row wrap" fxLayoutAlign="space-between center"
					class="notEditableField" style="display: inline">
					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.belongsTo}}</h4>
						{{courseDetail!=undefined?courseDetail.courseName:""}}
					</div>
				</div>
				<div  fxLayout="row wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"
					fxFlex.gt-md="100" fxLayoutAlign="space-between center" class="notEditableField">

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.coursePeriod}}</h4>
						{{activation.duration}}
					</div>

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.durationType}}</h4>
						{{durationValueString}}
					</div>
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.courseDate}}</h4>
					{{activationDate}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.locationName}}</h4>
					{{activation.locationName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.trainingHall}}</h4>
					{{activation.roomName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.instructorName}}</h4>
					{{tacInstructorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.trainingCoordinator}}</h4>
					{{tacCoordinatorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.trainingCoordinatorMobile}}</h4>
					{{tacCoordinatorMobileString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.estimatedCost}}</h4>
					{{estimatedCost}}
				</div>
			</div>
			<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
			<h4 style="color:red;">{{seatCapacityMessage}}</h4>
			</div>
			

			  <!-- <div *ngIf="isHead" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<mat-form-field class="full-wid mrgn-b-md">
					   <mat-select placeholder={{language.courseSuggession}} matInput formControlName="supervisorsCtrl">
						  <option [ngValue]="null">Select Employee</option>
						  <mat-option *ngFor="let obj of employeesUnderSupervisor"
						   [value]="obj">
							 {{obj.legacyCode}} -  {{obj.cNameAr}} 
						  </mat-option>
					   </mat-select>
					</mat-form-field>
				 </div> -->

		</mat-card>

		<div fxLayout="row" fxLayoutAlign="center" *ngIf="allOk">
				<button mat-raised-button color="primary" (click)="onSubmit()" type="button">{{language.btn_requestSubmit}}</button>
		</div>
	
	</div>
</form>
</div>