<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>Users</h4>
        </div> <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md">
              <input matInput placeholder="JOBID" formControlName="searchJobId">
            </mat-form-field>
           
          </div>
        </div>

        <div class="pad-wrap">
          <div fxLayout="row" fxLayoutAlign="start">
            <button mat-raised-button color="secondary"  type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>



<div fxLayout="row wrap" fxLayoutAlign="start" >
    <div fxFlex="100"> 
            <div class="row data-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
              [scrollWindow]="false" style="height: 500px; overflow-y: scroll;">  
              <table mat-table [dataSource]="ds">  
                <ng-container matColumnDef="requestId">  
                  <th mat-header-cell *matHeaderCellDef> Request ID </th>  
                  <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>  
                </ng-container>  

                <ng-container matColumnDef="investigationId">  
                    <th mat-header-cell *matHeaderCellDef> Case ID </th>  
                    <td mat-cell *matCellDef="let element"> {{element.investigationId}} </td>  
                  </ng-container>  
                 
                <ng-container matColumnDef="toUser">  
                  <th mat-header-cell *matHeaderCellDef> REQUESTED FOR </th>  
                  <td mat-cell *matCellDef="let element"> {{element.toUser}} </td>  
                </ng-container>  

                <ng-container matColumnDef="createdDate">  
                    <th mat-header-cell *matHeaderCellDef> Created Date </th>  
                    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>  
                </ng-container> 
                
                <ng-container matColumnDef="courseNumber">  
                  <th mat-header-cell *matHeaderCellDef> Course ID </th>  
                  <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>  
                </ng-container>  

                <ng-container matColumnDef="remark">  
                    <th mat-header-cell *matHeaderCellDef> Course Name </th>  
                    <td mat-cell *matCellDef="let element"> {{element.remark}} </td>  
                </ng-container>  

                <ng-container matColumnDef="statusFlag">  
                    <th mat-header-cell *matHeaderCellDef> Status </th>  
                    <td mat-cell *matCellDef="let element"> {{element.statusFlag}} </td>  
                </ng-container>

                
                <!-- <ng-container matColumnDef="Request">  
                  <th mat-header-cell *matHeaderCellDef>Request  </th>  
                  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"  class="m-1" (click)="deleteRow(element)">Request</button> </td>  
                </ng-container>  -->
      
                 
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table> 
     </div>    
    </div>
  </div>

