<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>Search Course</h4>
        </div> <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form" (ngSubmit)="searchCourse()">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md">
              <input matInput placeholder="Course Name" formControlName="courseName">
            </mat-form-field>
            
          </div>
        </div>

        <div class="pad-wrap">
          <div fxLayout="row" fxLayoutAlign="start">
            <button mat-raised-button color="primary"  type="submit" [disabled]="!form.valid">Search</button>
          </div>
        </div>
      </form>
    </div>


  </mat-card>
  <div fxFlex="100" >
      <ngx-datatable #table
                     class='material mrgn-all-md'
                     [columns]="columns"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [limit]="10"
                     [rows]='rows'
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     (page)='setPage($event)'
                     >
  
        <ngx-datatable-column min-width="50px">
          <ng-template ngx-datatable-header-template>
            <span>Id</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.courseId}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column min-width="50px">
          <ng-template ngx-datatable-header-template>
            <span>Activity Name</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.courseName}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column min-width="50px" >
            <ng-template ngx-datatable-header-template>
              <span>Update</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-raised-button color="primary" class="m-1"  (click)="updateRow(row)" >Update</button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column min-width="50px" >
            <ng-template ngx-datatable-header-template>
              <span>Link Course</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-raised-button color="accent" class="m-1"  (click)="updateLink(row)" >Link</button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column min-width="50px" >
            <ng-template ngx-datatable-header-template>
              <span>Activation</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-raised-button color="accent" class="m-1"  (click)="updateActivation(row)" >Activation</button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column min-width="50px" >
            <ng-template ngx-datatable-header-template>
              <span>Status</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-raised-button color="warn" class="m-1" (click)="openDialog(row)">Update</button>
                    <div *ngIf="row.status==1">
                     <div  class="rounded mrgn-r-xs primary-bg status-icon"></div>
                     <div class="status-text">
                        <div>Active</div>
                     </div>
                    </div>
                    <div *ngIf="row.status==0">
                        <div  class="rounded mrgn-r-xs warn-bg status-icon"></div>
                        <div class="status-text">
                           <div>Disable</div>
                        </div>
                    </div>
            </ng-template>
          </ngx-datatable-column>

      </ngx-datatable>
    </div>
  
  
 </div>



