<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
               <div fxLayout="column">
                  <h4>{{language.title_activateCourse}}</h4>
               </div>
               <span fxFlex></span>
            </div>
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="activateCourse()">
                <div fxLayout="column">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select (selectionChange)="getCourseDetails($event)" placeholder={{language.courseName}}  matInput formControlName="courseSelect" >
                                    
                                       <mat-option *ngFor="let item of courseList" [value]="item" >
                                          {{item.courseName}} 
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>
<!-- 
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                             
                    <textarea matInput placeholder="Category" [readonly]="!editable" ></textarea> 
                        </mat-form-field>
                     </div> -->

                     <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
               
                        <h4>{{language.courseCategories}}</h4>
                        {{courseDetails.tacCourseCategory!=null?courseDetails.tacCourseCategory.description:""}}  
                        
                      
                        </div>
                     <!-- <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Belongs To" >
                        </mat-form-field>
                     </div> -->
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <mat-form-field class="full-wid mrgn-b-lg">
                                 <mat-select  placeholder={{language.belongsTo}} matInput formControlName="belongsSelect">
                                       <mat-option *ngFor="let item of mainCourseList" [value]="item" >
                                             {{item.courseName}} 
                                              </mat-option>
                                    </mat-select>
                              <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                           </mat-form-field>
                           </div>
   
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder={{language.courseDate}} matInput formControlName="dateSelect" >
                                    <mat-option *ngFor="let item of tacCourseDateList" [value]="item" >
                                      {{item.courseDate}}
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select  (selectionChange)="getCourseRoomDetail($event)" placeholder={{language.courseLocation}} matInput formControlName="locationSelect">
                                    <mat-option *ngFor="let item of tacCourseLocation" [value]="item" >
                                          {{item.locationName}} 
                                           </mat-option>
                                 </mat-select>
                           <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                        </mat-form-field>
                        </div>

         
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select  placeholder={{language.trainingHall}} matInput formControlName="roomSelect" >
                                    <mat-option  *ngFor="let item of roomDetails" [value]="item" >
                                          {{item.roomName}}
                                          
                                       <!-- {{item.description}} [value]="item.categoryId" -->
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>

                     <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <h5>{{language.instructorName}}</h5>
                           </div>
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <button class="mrgn-all-xs" mat-icon-button (click)="addMoreInstructor()" type="button">
                                       <mat-icon>add</mat-icon>
                                 </button>   
                           </div>
                     </div> 
                     <div formArrayName="instructorSelect">
                           <div *ngFor="let ff of form.get('instructorSelect')['controls']; let in=index"
                              fxLayout="row wrap" fxLayoutAlign="space-between center">
                              <div [formGroupName]="in" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                       <mat-select placeholder="Instructor" matInput formControlName="instructorId">
                                             <mat-option *ngFor="let item of tacInstructor" [value]="item.instructorId">
                                                {{item.name}}
                                             </mat-option>
                                       </mat-select>
                              </div>
                              <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                    <button class="mrgn-all-xs" mat-icon-button (click)="removeMoreInstructor(in)"
                                       type="button">
                                       <mat-icon>delete</mat-icon>
                                    </button>
                              </div>
                           </div>
                        </div>

                     <!-- <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Instructor" matInput >
                                    <mat-option *ngFor="let item of tacInstructor" [value]="item" >
                                          {{item.name}}
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div> -->

                   

                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder={{language.trainingCoordinator}} matInput formControlName="userSelect">
                                    <mat-option  *ngFor="let item of userList" [value]="item" >
                                          {{item.cNameAr}}
                                          
                                       <!-- {{item.description}} [value]="item.categoryId" -->
                                    </mat-option>
                                       <!-- {{item.description}} [value]="item.categoryId" userList-->
                                   
                                 </mat-select>
                        </mat-form-field>
                     </div>
                     <div fxLayout="column">
                        <h4>{{language.estimatedCost}}</h4>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.instructorCost}} formControlName="instructorCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.buffetCost}} formControlName="buffetCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.internalTransportCost}} formControlName="transportCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.ticketCost}} formControlName="ticketCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.hospitalityCost}} formControlName="hospitalityCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.giftCost}} formControlName="giftCost" >
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.hallReservationCost}} formControlName="reservationCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.bonusCost}} formControlName="bonusCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder={{language.translationCost}} formControlName="translationCost">
                        </mat-form-field>
                     </div>
                     <div fxLayout="row" fxLayoutAlign="start">
                        <button mat-raised-button color="primary" type="submit">{{language.btn_save}}
                        </button>
                     </div>

                     </div></form></div></mat-card></div>