<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
               <div fxLayout="column">
                  <h4>ACTIVATE COURSE</h4>
               </div>
               <span fxFlex></span>
            </div>
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="activateCourse()">
                <div fxLayout="column">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select (selectionChange)="getCourseDetails($event)" placeholder="Course Name" matInput formControlName="courseSelect" >
                                    
                                       <mat-option *ngFor="let item of courseList" [value]="item" >
                                          {{item.courseName}} 
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>
<!-- 
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                             
                    <textarea matInput placeholder="Category" [readonly]="!editable" ></textarea> 
                        </mat-form-field>
                     </div> -->

                     <div *ngIf="displayCourseDetails" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" class="notEditableField">
               
                        <h4>Course Category</h4>
                        {{courseDetails.tacCourseCategory!=null?courseDetails.tacCourseCategory.description:""}}  
                      
                        </div>
                     <!-- <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Belongs To" >
                        </mat-form-field>
                     </div> -->
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <mat-form-field class="full-wid mrgn-b-lg">
                                 <mat-select  placeholder="Belongs To" matInput formControlName="belongsSelect">
                                       <mat-option *ngFor="let item of mainCourseList" [value]="item" >
                                             {{item.courseName}} 
                                              </mat-option>
                                    </mat-select>
                              <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                           </mat-form-field>
                           </div>
   
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Course Date" matInput formControlName="dateSelect" >
                                    <mat-option *ngFor="let item of courseDate" [value]="item" >
                                      {{item.courseDate}}
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select (selectionChange)="getCourseRoomDetail($event)" placeholder="Location" matInput formControlName="locationSelect">
                                    <mat-option *ngFor="let item of tacCourseLocation" [value]="item" >
                                          {{item.locationName}} 
                                           </mat-option>
                                 </mat-select>
                           <!-- <textarea matInput placeholder="TypeOfActivity" [(ngModel)]="answer.answer1"  ></textarea> -->
                        </mat-form-field>
                        </div>

         
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Training Hall" matInput formControlName="roomSelect" >
                                    <mat-option  *ngFor="let item of roomDetails" [value]="item" >
                                          {{item.roomName}}
                                          
                                       <!-- {{item.description}} [value]="item.categoryId" -->
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div>

                     <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <h5>Instructor</h5>
                           </div>
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <button class="mrgn-all-xs" mat-icon-button (click)="addMoreInstructor()" type="button">
                                       <mat-icon>add</mat-icon>
                                 </button>   
                           </div>
                     </div> 
                     <div formArrayName="instructorSelect">
                           <div *ngFor="let ff of form.get('instructorSelect').controls; let in=index"
                              fxLayout="row wrap" fxLayoutAlign="space-between center">
                              <div [formGroupName]="in" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                       <mat-select placeholder="Instructor" matInput formControlName="name">
                                             <mat-option *ngFor="let item of tacInstructor" [value]="item">
                                                {{item.name}}
                                             </mat-option>
                                       </mat-select>
                              </div>
                              <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                    <button class="mrgn-all-xs" mat-icon-button (click)="removeMoreInstructor(in)"
                                       type="button">
                                       <mat-icon>delete</mat-icon>
                                    </button>
                              </div>
                           </div>
                        </div>

                     <!-- <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Instructor" matInput >
                                    <mat-option *ngFor="let item of tacInstructor" [value]="item" >
                                          {{item.name}}
                                    </mat-option>
                                 </mat-select>
                        </mat-form-field>
                     </div> -->

                   

                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-select placeholder="Training Co-ordinator" matInput formControlName="userSelect">
                                    <mat-option  *ngFor="let item of userList" [value]="item" >
                                          {{item.username}}
                                          
                                       <!-- {{item.description}} [value]="item.categoryId" -->
                                    </mat-option>
                                       <!-- {{item.description}} [value]="item.categoryId" userList-->
                                   
                                 </mat-select>
                        </mat-form-field>
                     </div>
                     <div fxLayout="column">
                        <h4>ESTIMATED COST</h4>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Instructor Cost" formControlName="instructorCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Buffet Cost" formControlName="buffetCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Internal Transport Cost"  formControlName="transportCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Ticket Cost" formControlName="ticketCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Hospitality Cost" formControlName="hospitalityCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Gift Cost"formControlName="giftCost" >
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Hall Reservation Cost" formControlName="reservationCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Bonus Cost" formControlName="bonusCost">
                        </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid mrgn-b-md">
                           <input matInput placeholder="Translation Cost" formControlName="translationCost">
                        </mat-form-field>
                     </div>
                     <div fxLayout="row" fxLayoutAlign="start">
                        <button mat-raised-button color="primary" type="submit">Save
                        </button>
                     </div>

                     </div></form></div></mat-card></div>