<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100" attr.tourAnchor="{{card.tourAnchor}}"
      *ngFor="let card of statsCard" (click)="getDashboardData(card)">
      <mat-card class="{{card.card_color}} mat-card">
        <div mat-card-widget>
          <button mat-mini-fab class="inline-block gene-fab-flat-icon" mat-card-icon>
            <mat-icon>{{card.icon}}</mat-icon>
          </button>
          <div >
            
            <h5 mat-card-widget-title class="mrgn-b-none">{{card.title}}</h5>
            <h5>{{card.number}}</h5>
          </div>
        </div>
      </mat-card>
    </div>
