<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
   <mat-card fxFlex="100%">
      <div class="gene-card-title">
         <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
               <h4>{{language.title_instructorRegistration}}</h4>
            </div>
            <span fxFlex></span>
         </div>
         <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content">
         <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div fxLayout="column">

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                  <h5 class="mrgn-b-md">{{language.instructorType}}</h5>
                  <mat-radio-group class="radio-group" formControlName="typeFlag" (change)="onJobIdChange($event)">
                     <mat-radio-button value="1" class="radio-button">{{language.instructorEmployee}}</mat-radio-button>
                     <mat-radio-button value="2" class="radio-button">{{language.instructorExternal}}</mat-radio-button>
                  </mat-radio-group>

               </div>


               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.jobId}} formControlName="jobId" (change)="onJobIdChange($event)" >
                  </mat-form-field>
               </div>

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.jobTitle}} formControlName="jobTitle">
                  </mat-form-field>
               </div>

               

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.instructorName}} formControlName="instructorName">
                  </mat-form-field>
               </div>

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.organization}} formControlName="organization">
                  </mat-form-field>
               </div>

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.department}} formControlName="department">
                  </mat-form-field>
               </div>


               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.qid}} formControlName="qid">
                  </mat-form-field>
               </div>



               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.passport}} formControlName="passportNo">
                  </mat-form-field>
               </div>



               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.iBanNo}} formControlName="ibanNo">
                  </mat-form-field>
               </div>



               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.email}} formControlName="email">
                  </mat-form-field>
               </div>

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder={{language.phone}} formControlName="phone">
                  </mat-form-field>
               </div>


               <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                     <h5>{{language.subjects}}</h5>
                  </div>
                  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                     <button class="mrgn-all-xs" mat-icon-button (click)="addSubjects()" type="button">
                        <mat-icon>add</mat-icon>
                     </button>
                  </div>
               </div>



               <div formArrayName="subject">
                  <div *ngFor="let ff of form.get('subject')['controls']; let in=index" fxLayout="row wrap"
                     fxLayoutAlign="space-between center">
                     <div [formGroupName]="in" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-select placeholder={{language.subjectName}} matInput formControlName="subjectId">
                           <mat-option *ngFor="let item of subjects" [value]="item.subjectId">
                              {{item.subjectName}}
                           </mat-option>
                        </mat-select>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <button class="mrgn-all-xs" mat-icon-button (click)="removeSubjects(in)" type="button">
                           <mat-icon>{{language.btn_delete}}</mat-icon>
                        </button>
                     </div>
                  </div>
               </div>



               


               <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                     <h5>{{language.qualifications}}</h5>
                  </div>
                  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                     <button class="mrgn-all-xs" mat-icon-button (click)="addQualifications()" type="button">
                        <mat-icon>add</mat-icon>
                     </button>
                  </div>
               </div>



               <div formArrayName="qualification">
                  <div *ngFor="let ff of form.get('qualification')['controls']; let in=index" fxLayout="row wrap"
                     fxLayoutAlign="space-between center">
                     <div [formGroupName]="in" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-select placeholder={{language.qualificationName}} matInput formControlName="qualificationId">
                           <mat-option *ngFor="let item of qualifications" [value]="item.qualificationId">
                              {{item.qualificationName}}
                           </mat-option>
                        </mat-select>
                     </div>
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <button class="mrgn-all-xs" mat-icon-button (click)="removeQualifications(in)" type="button">
                           <mat-icon>{{language.btn_delete}}</mat-icon>
                        </button>
                     </div>
                  </div>
               </div>



               

               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <ms-file-uploader #fileUploaderComponent type="document" single="false"></ms-file-uploader>
               </div>




               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <mat-select placeholder={{language.priority}} matInput formControlName="priority">
                        <mat-option *ngFor="let priorityFlag of priorityList" [value]="priorityFlag">
                           {{priorityFlag.viewValue}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start">
               <!--<button mat-raised-button color="primary" (click)="onSubmit('save')" type="submit" [enabled]="!form.valid">Save</button>-->
               <button mat-raised-button color="primary" (click)="onSubmit('save')" type="submit">{{language.btn_save}}</button>
               <!-- <button mat-raised-button color="secondary" (click)="onSubmit('search')" type="submit">Search</button> -->
            </div>

         </form>
      </div>
   </mat-card>
</div>