<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="start center">
             <div fxLayout="column">
                <h4>Instructor Registration</h4>
             </div>
             <span fxFlex></span>
          </div>
          <mat-divider></mat-divider>
       </div>
       <div class="gene-card-content">
          <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
             <div fxLayout="column">
 
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                   <h5 class="mrgn-b-md">Instructor Type</h5>
                   <mat-radio-group class="radio-group" formControlName="instructorType">
                      <mat-radio-button value="1" class="radio-button">Employee</mat-radio-button>
                      <mat-radio-button value="2" class="radio-button">External</mat-radio-button>
                   </mat-radio-group>
                  
                </div>


                  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                     <mat-form-field class="full-wid mrgn-b-md">
                        <input matInput placeholder="JobId" formControlName="jobId">
                     </mat-form-field>
                  </div>
                
                   
                   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                      <mat-form-field class="full-wid mrgn-b-md">
                         <input matInput placeholder="Instructor Name" formControlName="instructorName">
                      </mat-form-field>
                   </div>
 
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Organization" formControlName="organization">
                       </mat-form-field>
                    </div>
               

                 
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="QID / Passport" formControlName="qidPassport">
                       </mat-form-field>
                    </div>
                 
                
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="IBAN No" formControlName="ibanNo">
                       </mat-form-field>
                    </div>
                 
                
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Email" formControlName="email">
                       </mat-form-field>
                    </div>
                
               
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Subject" formControlName="subject">
                       </mat-form-field>
                    </div>
                
               
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Qualifications" formControlName="qualifications">
                       </mat-form-field>
                    </div>
                
              
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Photo" formControlName="photo">
                       </mat-form-field>
                    </div>
                
                 
                   
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                       <mat-form-field class="full-wid mrgn-b-md">
                          <input matInput placeholder="Priority" formControlName="priority">
                       </mat-form-field>
                    </div>
                 </div>

                 <div fxLayout="row" fxLayoutAlign="start">
                     <button mat-raised-button color="primary" (click)="onSubmit('save')" type="submit" [disabled]="!form.valid">Save</button>
                     <button mat-raised-button color="secondary" (click)="onSubmit('search')" type="submit">Search</button>
                   </div>
             
          </form>
       </div>
    </mat-card>
 </div>
