::ng-deep .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

::ng-deep .mat-radio-label-content {
    padding-right: 8px;
    padding-left: 13px !important;
}

::ng-deep .mat-radio-button {
    margin-bottom: 20px;
}