<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="start center">
             <div fxLayout="column">
                <h4>User Creation</h4>
             </div>
             <span fxFlex></span>
          </div>
          <mat-divider></mat-divider>
       </div>
       <div class="gene-card-content">
          <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
             <div fxLayout="column">
 
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                   <mat-form-field class="full-wid mrgn-b-lg">
                      <input matInput placeholder="Job Id" formControlName="jobId" required>
                   </mat-form-field>   
                </div>
 
             
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                    <mat-form-field class="full-wid mrgn-b-md">
                       <mat-select placeholder="Role" matInput formControlName="userRole" required>
                          <option [ngValue]="null">Select Category</option>
                          <mat-option *ngFor="let item of courseCategories"
                           [value]="item">
                             {{item.description}}
                          </mat-option>
                       </mat-select>
                    </mat-form-field>
                 </div>
 
 
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                   <mat-form-field class="full-wid mrgn-b-lg ">
                      <input matInput type="password"  placeholder="password" formControlName="password" required>
                   </mat-form-field>
                </div>
                

                <div fxLayout="column wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                          <h5></h5>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <mat-radio-group class="radio-group" formControlName="enabledUser">
                            <mat-radio-button value="0" class="radio-button">Enable</mat-radio-button>
                            <mat-radio-button value="1" class="radio-button">Disable</mat-radio-button>
                         </mat-radio-group>   
                    </div>
              </div> 

              <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Option 1</mat-radio-button>
                  <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group>
                
                 
         
 
              
                <div fxLayout="row" fxLayoutAlign="start">
                   <button mat-raised-button color="primary" (click)="onSubmit('createCourse')"  type="submit">Save
                   </button>
                </div>
             </div>
          </form>
       </div>
    </mat-card>
 </div>
