<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" attr.tourAnchor="{{card.tourAnchor}}"
		*ngFor="let card of statsCard" (click)="getCourseManagement(card)">
		<mat-card class="{{card.card_color}} mat-card">
			<div mat-card-widget>
				<button mat-mini-fab class="inline-block gene-fab-flat-icon" mat-card-icon>
					<mat-icon>{{card.icon}}</mat-icon>
				</button>
				<div class="inline-block vertical-align-mid pad-wrap">
					<h5 mat-card-widget-title class="mrgn-b-none">{{card.title}}</h5>
					<h5>{{card.number}}</h5>
				</div>
			</div>
		</mat-card>
	</div>



	<div fxFlex="100">
		<div class="pad-all-md mat-white box-inset mrgn-all-md">

			<div fxLayout="row wrap" fxLayoutAlign="space-between center">

				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
					<mat-form-field class="full-wid">
						<input matInput type="text" placeholder={{language.filterColumn}}
							(keyup)='updateFilter($event)' />


					</mat-form-field>
				</div>

				<div *ngIf="futureFilter" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
					<mat-form-field class="full-wid">
						<mat-select placeholder="Courses" (selectionChange)="getFutureCourseFilter($event)"
							[(ngModel)]="selectedCourseFilter" name="item">
							<mat-option *ngFor="let item of courseFilter" [value]="item.value">
								{{item.viewValue}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>


		</div>


		<ngx-datatable #table class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
			[footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [count]="page.totalElements"
			[offset]="page.pageNumber" [messages]="{emptyMessage: language.noDataToDisplay}">

			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseName}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.courseName}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseStartDate}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.course_date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseEndDate}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.end_date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column *ngIf="displayManage" min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.manage}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<button mat-raised-button color="accent" class="m-1" type="button"
						(click)=getActivationData(row)>{{language.btn_manage}}</button>
				</ng-template>
			</ngx-datatable-column>






			<ngx-datatable-column *ngIf="previousCourse" min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.status}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<button mat-raised-button color="accent" class="m-1" type="button"
						(click)=markCourseCompletion(row)>{{language.btn_status}}</button>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>


	<div *ngIf="displayCourseDetails" fxFlex="100" class="gene-card-content">
		<mat-card>
			<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" fxLayout="column">
				<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
					<h4>{{language.courseName}}</h4>
					{{activation.courseName}}
				</div>
				<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="notEditableField"
					style="display: inline">
					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.belongsTo}}</h4>
						{{courseDetail!=null?courseDetail.courseName:""}}
					</div>
				</div>
				<div fxLayout="row wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"
					fxLayoutAlign="space-between center" class="notEditableField">

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.coursePeriod}}</h4>
						{{activation.duration}}
					</div>

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>{{language.durationType}}</h4>
						{{durationValueString}}
					</div>
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.courseDate}}</h4>
					{{activationDate}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.courseLocation}}</h4>
					{{activation.locationName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.trainingHall}}</h4>
					{{activation.roomName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.instructorName}}</h4>
					{{tacInstructorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.trainingCoordinator}}</h4>
					{{tacCoordinatorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>{{language.estimatedCost}}</h4>
					{{estimatedCost}}
				</div>
			</div>
		</mat-card>
		<div fxLayout="row wrap" fxLayoutAlign="space-between center">
			<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
			<h5>{{language.addComment}}</h5>
			<mat-form-field >
					<input  matInput placeholder="Comment" [(ngModel)]="commentTxt" >
			</mat-form-field>
	  </div>
	  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
			<button mat-raised-button color="primary" (click)="cancelCourse()"
				type="button">{{language.btn_cancelCourse}}</button>
		</div></div>

	</div>

	<div *ngIf="displayCourseDetails" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">

			<ngx-datatable #table class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
				[footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='empRows' [count]="page.totalElements"
				[offset]="page.pageNumber" [messages]="{emptyMessage: language.noDataToDisplay}">

				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobId}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jobId}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.empName}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.cnameAr}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.department}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.department}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobTitle}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jobTitle}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.mobile}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.mobile}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
						<ng-template ngx-datatable-header-template>
						 <span>{{language.addComment}}</span>
						 </ng-template>
						 <ng-template let-row="row" ngx-datatable-cell-template>
								 <input  matInput placeholder="Comment" [(ngModel)]=row.remark >
						 </ng-template>
					 </ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
						<ng-template ngx-datatable-header-template>
							<span>{{language.deleteParticipants}}</span>
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button mat-raised-button color="accent" class="m-1" type="button"
								(click)="deleteParticipants(row)">{{language.btn_delete}}</button>
						</ng-template>
					</ngx-datatable-column>
			</ngx-datatable>


			<div class="pad-wrap left">
				<button mat-raised-button color="primary" (click)="addParticipants()"
					type="submit">{{language.btn_addParticipants}}</button>
			 </div>
		    </mat-card>
	     </div>

	<div *ngIf="displayParticipantSelection" fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard"
		fxFlex="100%">
		<mat-card fxFlex="100%">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{language.btn_addParticipants}}</h4>
					</div> <span fxFlex></span>
				</div>
				<mat-divider></mat-divider>
			</div>

			
			<div class="gene-card-content">
				<form [formGroup]="form" (ngSubmit)="searchParticipants()">
					<!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center">
						<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
							<mat-form-field class="full-wid mrgn-b-md">
								
								<mat-select placeholder={{language.jobGrade}} matInput
									formControlName="jobGradeControl">
									<option [ngValue]="null">{{language.selectJobGrade}}</option>
									<mat-option *ngFor="let obj of jobGradeList" [value]="obj">
										{{obj.psLevel}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field class="full-wid mrgn-b-md">
								
								<mat-select placeholder={{language.jobTitle}} matInput
									formControlName="jobTitleControl">
									<option [ngValue]="null">{{language.selectJobTitles}}</option>
									<mat-option *ngFor="let obj of jobTitleList" [value]="obj">
										{{obj.jobDesc}}
									</mat-option>
								</mat-select>
							</mat-form-field></div> -->
							<!-- <small class="gene-block" *ngIf="form.controls['searchControl'].hasError('required') && form.controls['searchControl'].touched"
							 class="warn-text">
						Enter jobid or Qid for searching
					  </small> -->
					  <div  fxLayout=" row wrap" fxLayoutAlign="space-between center"> 
							<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100"> 
					  <mat-form-field class="full-wid mrgn-b-md">
						  <input matInput placeholder={{language.jobId}}  formControlName="jobId"  >
					   </mat-form-field>  
					   </div>
					   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
					   <mat-form-field class="full-wid mrgn-b-md">
							<input matInput placeholder={{language.qid}}  formControlName="qid"  >
					   </mat-form-field>  
					   </div>
					   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
					   <mat-form-field class="full-wid mrgn-b-md">
							<input matInput placeholder={{language.employeeName}}  formControlName="empName" [matAutocomplete]="auto"  >
					   </mat-form-field>  
					   </div>
			  
						
					</div>

					<div class="pad-wrap">
						<div fxLayout="row" fxLayoutAlign="start">
							<button mat-raised-button color="secondary" type="submit">{{language.btn_search}}</button>
						</div>
					</div>
				</form>
			</div>
		</mat-card>
	</div>
	<div *ngIf="displayParticipantSelection" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">

			<ngx-datatable #table class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
				[footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='mawaredDataInfo'
				[count]="page.totalElements" [offset]="page.pageNumber"
				[messages]="{emptyMessage: language.noDataToDisplay}">

				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobId}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.legacycode}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.empName}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.cname_AR}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.department}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.orgunit_DESC_AR}}
						
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobTitle}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.job_DESC_AR}} 
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.mobile}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.mobile}}
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column min-width="50px">
                   <ng-template ngx-datatable-header-template>
					<span>{{language.addComment}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
							<input  matInput placeholder="Comment" [(ngModel)]=row.remark >
					</ng-template>
				</ngx-datatable-column>


			


				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.btn_addParticipants}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						<button mat-raised-button color="accent" class="m-1" type="button"
							(click)="directEnrollParticipants(row)">{{language.btn_add}}</button>
					</ng-template>
				</ngx-datatable-column>
				
				<!-- 
						<ngx-datatable-column min-width="50px">
								<ng-template ngx-datatable-header-template>
									<span>{{language.label_delete}}</span>
								</ng-template>
								<ng-template let-row="row" ngx-datatable-cell-template>
									<button mat-raised-button color="accent" class="m-1" type="button"
										>{{language.btn_delete}}</button>
								</ng-template>
							</ngx-datatable-column>    -->
			</ngx-datatable>


			<div>
				<button mat-raised-button color="primary" (click)="doneAddParticipant()" type="button">{{language.btn_done}}</button>
			</div>
		</mat-card>
	</div>


	<div *ngIf="displayCalendar" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">
			<ng-template ngbModalContainer></ng-template>
			<ng-template #modalContent let-close="close">
				<div class="modal-header">
					<h5 class="modal-title">Event action occurred</h5>
					<button color="primary" class="close" (click)="close()">
						<mat-icon>close</mat-icon>
					</button>
				</div>
				<div class="modal-body">
					<div>
						Action:
						<pre>{{ modalData?.action }}</pre>
					</div>
					<div>
						Event:
						<pre>{{ modalData?.event | json }}</pre>
					</div>
				</div>
				<mat-icon (click)="close()" class="modal-confirm-btn">done</mat-icon>
			</ng-template>

			<div class="text-center primary-bg overflow-hidden">
				<div class="cal-col">
					<div class="gene-btn-group">
						<mat-icon class="" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"> chevron_left
						</mat-icon>
						<mat-icon class="" mwlCalendarToday [(viewDate)]="viewDate"> today </mat-icon>
						<mat-icon class="" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"> chevron_right
						</mat-icon>
					</div>
				</div>
				<div class="cal-col">
					<h3 class="gene-cal-head">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
				</div>
				<div class="right-tab cal-col">
					<div class="gene-btn-group">
						<mat-icon class="" (click)="view = 'month'" [class.active]="view === 'month'"> view_comfy
						</mat-icon>
						<mat-icon class="" (click)="view = 'week'" [class.active]="view === 'week'"> view_week
						</mat-icon>
						<mat-icon class="" (click)="view = 'day'" [class.active]="view === 'day'"> view_day </mat-icon>
					</div>
				</div>
			</div>
			<br>
			<div [ngSwitch]="view">

				<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
					[refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-month-view>
				<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
					[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-week-view>
				<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-day-view>
			</div>


		</mat-card>

	</div>

	<div *ngIf="displayAttendance" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">

			<ngx-datatable #table class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
				[footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='empRows' [count]="page.totalElements"
				[offset]="page.pageNumber" [messages]="{emptyMessage: language.noDataToDisplay}">

				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobId}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jobId}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.empName}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.cnameAr}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.department}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.department}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.jobTitle}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jobTitle}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.mobile}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.mobile}}
					</ng-template>
				</ngx-datatable-column>


<!-- //Present -->
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>{{language.attendance}}</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						<mat-checkbox class="example-margin" [checked]="row.checked"
							(change)="checkboxValue(row,$event)"> حاضر
						</mat-checkbox>
					</ng-template>
				</ngx-datatable-column>

				<!-- <button mat-raised-button color="accent" class="m-1" type="button"
						(click)=MarkAttendance()>MarkAttendance</button>  -->
			</ngx-datatable>


			<div class="pad-wrap left">
				<button *ngIf="courseCompletion" mat-raised-button color="primary"
					(click)="markCourseCompletionForCurrent()" type="submit">{{language.btn_status}}</button>
				<button *ngIf="!updateAttendance" mat-raised-button color="primary" (click)="markAttendance()"
					type="submit">{{language.btn_markAttendance}}</button>
				<button *ngIf="updateAttendance" mat-raised-button color="primary" (click)="markAttendance()"
					type="submit">{{language.btn_updateAttendance}}</button>
			</div>
		</mat-card>
	</div>



	<div *ngIf="displayCourseCompletionForm" fxFlex="100" class="gene-card-content">


		<ngx-datatable #table class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
			[footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='courseCompletionData'
			[count]="page.totalElements" [offset]="page.pageNumber"
			[messages]="{emptyMessage: language.noDataToDisplay}">

			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.jobId}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.jobId}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.empName}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.cnameAr}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.department}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.department}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.jobTitle}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.jobTitle}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.mobile}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.mobile}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.coursePeriod}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{activation.duration}}{{durationValueString}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.attendancePercentage}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.percentage}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.courseStatus}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>

					{{ row.percentage>=80?"Pass":"Fail"}}
				</ng-template>
			</ngx-datatable-column>

			<!-- <ngx-datatable-column min-width="50px">
													<ng-template ngx-datatable-header-template>
														<span>Remark</span>
													</ng-template>
													<ng-template let-row="row" ngx-datatable-cell-template>
															
													</ng-template>
												</ngx-datatable-column> -->
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>{{language.certificate}}</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row.percentage==100" fxFlex="100">
						<button *ngIf="!row.generated" mat-raised-button color="primary" class="my-class"
							(click)="GenerateCertificate(row)" type="submit">{{language.btn_certificate}}</button>
					</div>
					<div *ngIf="row.generated">
						<a style="color:blue" href="{{row.url}}" target="_blank">{{language.downloadCertificate}}</a>

					</div>
				</ng-template>
			</ngx-datatable-column>




		</ngx-datatable>
	</div>


</div>