<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" attr.tourAnchor="{{card.tourAnchor}}"
		*ngFor="let card of statsCard" (click)="getCourseManagement(card)">
		<mat-card class="{{card.card_color}} mat-card">
			<div mat-card-widget>
				<button mat-mini-fab class="inline-block gene-fab-flat-icon" mat-card-icon>
					<mat-icon>{{card.icon}}</mat-icon>
				</button>
				<div class="inline-block vertical-align-mid pad-wrap">
					<h5 mat-card-widget-title class="mrgn-b-none">{{card.title}}</h5>
					<h5>{{card.number}}</h5>
				</div>
			</div>
		</mat-card>
	</div>



	<div fxFlex="100">
		<ngx-datatable 
		#table class='material mrgn-all-md' 
		[columnMode]="'force'" 
		[headerHeight]="50"
		[footerHeight]="50"
		[rowHeight]="'auto'" 
		[limit]="10" 
		[rows]='rows' 
		[count]="page.totalElements"
		[offset]="page.pageNumber">

			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>Course Name</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.courseName}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>Course Start Date</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.course_date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>Course End Date</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.end_date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column *ngIf="displayManage" min-width="50px">
				<ng-template ngx-datatable-header-template>
					<span>Manage</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<button mat-raised-button color="accent" class="m-1" type="button"
						(click)=getActivationData(row)>Manage</button>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column *ngIf="previousCourse" min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>Status</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						<button mat-raised-button color="accent" class="m-1" type="button"
							(click)=markCourseCompletion(row)>Status</button>
					</ng-template>
				</ngx-datatable-column>
		</ngx-datatable>
	</div>


	<div *ngIf="displayCourseDetails" fxFlex="100" class="gene-card-content">
		<mat-card>
			<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"
				fxLayout="column">
				<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
					<h4>Course Name</h4>
					{{activation.courseName}}
				</div>
				<div fxLayout="row wrap" fxLayoutAlign="space-between center"
					class="notEditableField" style="display: inline">
					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>Belongs To</h4>
						{{courseDetail.courseName}}
					</div>
				</div>
				<div  fxLayout="row wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"
					fxFlex.gt-md="100" fxLayoutAlign="space-between center" class="notEditableField">

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>Course Period</h4>
						{{activation.duration}}
					</div>

					<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
						<h4>Duration Type</h4>
						{{durationValueString}}
					</div>
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>Course Date</h4>
					{{activation.courseDate}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>locationName</h4>
					{{activation.locationName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>Course Room</h4>
					{{activation.roomName}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>Trainer</h4>
					{{tacInstructorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>Co-ordinator</h4>
					{{tacCoordinatorString}}
				</div>
				<div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
					<h4>Estimated Cost</h4>
					{{estimatedCost}}
				</div>
			</div>
		</mat-card>
	</div>
	<div *ngIf="displayCalendar" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">
				<ng-template ngbModalContainer></ng-template>
				<ng-template #modalContent let-close="close">
						<div class="modal-header">
						   <h5 class="modal-title">Event action occurred</h5>
						   <button color="primary" class="close" (click)="close()">
							  <mat-icon>close</mat-icon>
						   </button>
						</div>
						<div class="modal-body">
						   <div>
							  Action: 
							  <pre>{{ modalData?.action }}</pre>
						   </div>
						   <div>
							  Event: 
							  <pre>{{ modalData?.event | json }}</pre>
						   </div>
						</div>
						<mat-icon (click)="close()" class="modal-confirm-btn">done</mat-icon>
					 </ng-template>
	
					 <div class="text-center primary-bg overflow-hidden">
							<div class="cal-col">
							   <div class="gene-btn-group">
								  <mat-icon class="" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"> chevron_left
								  </mat-icon>
								  <mat-icon class="" mwlCalendarToday [(viewDate)]="viewDate"> today </mat-icon>
								  <mat-icon class="" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"> chevron_right
								  </mat-icon>
							   </div>
							</div> <div class="cal-col">
									<h3 class="gene-cal-head">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
								 </div>
								 <div class="right-tab cal-col">
									<div class="gene-btn-group">
									   <mat-icon class="" (click)="view = 'month'" [class.active]="view === 'month'"> view_comfy </mat-icon>
									   <mat-icon class="" (click)="view = 'week'" [class.active]="view === 'week'"> view_week </mat-icon>
									   <mat-icon class="" (click)="view = 'day'" [class.active]="view === 'day'"> view_day </mat-icon>
									</div>
								 </div>
							  </div>
							  <br>
							  <div [ngSwitch]="view">
									
									<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-month-view>
									<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-week-view>
									<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-day-view> 
								 </div>
							
								 
		</mat-card>
	
	</div>

	<div *ngIf="displayCalendar" fxFlex="100" class="gene-card-content">
		<mat-card class="mat-pad-none gene-calender">

			<ngx-datatable 
			#table class='material mrgn-all-md' 
			[columnMode]="'force'" 
			[headerHeight]="50"
			[footerHeight]="50"
			[rowHeight]="'auto'" 
			[limit]="10" 
			[rows]='empRows' 
			[count]="page.totalElements"
			[offset]="page.pageNumber">
	
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>Job ID</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jobId}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>Name</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.cnameAr}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>Department</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.department}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column min-width="50px">
						<ng-template ngx-datatable-header-template>
							<span>Job Title</span>
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.jobTitle}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column min-width="50px">
							<ng-template ngx-datatable-header-template>
								<span>Mobile</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.mobile}}
							</ng-template>
						</ngx-datatable-column>
				
		

			<ngx-datatable-column min-width="50px">
					<ng-template ngx-datatable-header-template>
						<span>Attendance</span>
					</ng-template>
					<ng-template let-row="row" ngx-datatable-cell-template>
					<mat-checkbox class="example-margin"  (change)="checkboxValue(row,$event)" > Present</mat-checkbox>
					</ng-template>
				</ngx-datatable-column> 
		
				<!-- <button mat-raised-button color="accent" class="m-1" type="button"
						(click)=MarkAttendance()>MarkAttendance</button>  -->
	</ngx-datatable>
		 

		 <div class="pad-wrap left" >
				<button mat-raised-button color="primary" (click)="markCourseCompletionForCurrent()"  type="submit">Status</button> 		
			  <button mat-raised-button color="primary" (click)="markAttendance()" type="submit" >Mark Attendance</button>  		
		  </div> 
		  </mat-card></div>



		  <div *ngIf="displayCourseCompletionForm" fxFlex="100" class="gene-card-content">
				
		
					<ngx-datatable 
					#table class='material mrgn-all-md' 
					[columnMode]="'force'" 
					[headerHeight]="50"
					[footerHeight]="50"
					[rowHeight]="'auto'" 
					[limit]="10" 
					[rows]='courseCompletionData' 
					[count]="page.totalElements"
					[offset]="page.pageNumber">
			
						<ngx-datatable-column min-width="50px">
							<ng-template ngx-datatable-header-template>
								<span>Job ID</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.jobId}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column min-width="50px">
							<ng-template ngx-datatable-header-template>
								<span>Name</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.cnameAr}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column min-width="50px">
							<ng-template ngx-datatable-header-template>
								<span>Department</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.department}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column min-width="50px">
								<ng-template ngx-datatable-header-template>
									<span>Job Title</span>
								</ng-template>
								<ng-template let-row="row" ngx-datatable-cell-template>
									{{row.jobTitle}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column min-width="50px">
									<ng-template ngx-datatable-header-template>
										<span>Mobile</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.mobile}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column min-width="50px">
										<ng-template ngx-datatable-header-template>
											<span>Course Period</span>
										</ng-template>
										<ng-template let-row="row" ngx-datatable-cell-template>
												{{activation.duration}}{{durationValueString}}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column min-width="50px">
											<ng-template ngx-datatable-header-template>
												<span>Attendance %</span>
											</ng-template>
											<ng-template let-row="row" ngx-datatable-cell-template>
													{{row.percentage}}	
											</ng-template>
										</ngx-datatable-column>
										<ngx-datatable-column min-width="50px">
												<ng-template ngx-datatable-header-template>
													<span>Pass/Fail</span>
												</ng-template>
												<ng-template let-row="row" ngx-datatable-cell-template>
														
														{{ row.percentage==100?"Pass":"Fail"}}
												</ng-template>
											</ngx-datatable-column>

											<ngx-datatable-column min-width="50px">
													<ng-template ngx-datatable-header-template>
														<span>Remark</span>
													</ng-template>
													<ng-template let-row="row" ngx-datatable-cell-template>
															
													</ng-template>
												</ngx-datatable-column>
												<ngx-datatable-column min-width="50px">
														<ng-template ngx-datatable-header-template>
															<span>Certificate</span>
														</ng-template>
														<ng-template let-row="row" ngx-datatable-cell-template>
																<div *ngIf="row.percentage==100" fxFlex="100" >
														<button *ngIf="!row.generated" mat-raised-button color="primary"   class="my-class" (click)="GenerateCertificate(row)" type="submit">Certificate</button>	
															 </div>
															  <div *ngIf="row.generated">
																  <a href="{{row.url}}" target="_blank" >certificate</a>
																   
															  </div>
														</ng-template>
													</ngx-datatable-column>
	



								</ngx-datatable></div>


</div>