<div fxLayout="row wrap" fxLayoutAlign="start" >
    <div fxFlex="100"> 
            <div class="row data-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
              [scrollWindow]="false" style="height: 500px; overflow-y: scroll;">  
          
              <table mat-table [dataSource]="ds">  
                <!-- <ng-container matColumnDef="id">  
                  <th mat-header-cell *matHeaderCellDef> WorkflowId </th>  
                  <td mat-cell *matCellDef="let element"> {{element.rootProcessInstanceId}} </td>  
                </ng-container>   -->
                 
                <ng-container matColumnDef="time">  
                  <th mat-header-cell *matHeaderCellDef>{{language.requestedTime}} </th>  
                  <td mat-cell *matCellDef="let element"> {{  datepipe.transform(element.time, 'dd/MM/yyyy')}} </td>  
                </ng-container>  
                
                <ng-container matColumnDef="userId">  
                  <th mat-header-cell *matHeaderCellDef>{{language.jobId}}</th>  
                  <td mat-cell *matCellDef="let element"> {{element.userId}} </td>  
                </ng-container> 
       
                <ng-container matColumnDef="edit">  
                  <th mat-header-cell *matHeaderCellDef>{{language.view}}</th>  
                  <td mat-cell *matCellDef="let element">  
                      <button class="mrgn-all-xs" mat-icon-button (click)="viewProcessDetails(element)">
                          <mat-icon>visibility</mat-icon>
                      </button>
                    </td>  
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table> 
     </div>  
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard" *ngIf="dataStatus">
      <mat-card fxFlex="100%">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" fxLayout="column">
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>{{language.courseName}}</h5> 
                    {{data.courseName}}
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>{{language.requestedBy}}</h5>
                      {{data.cnameAr}}  -   {{data.jobId}} 
                  </div>
                  <div *ngIf="isrequestedFor" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>{{language.requestedFor}}</h5>
                      <table border="1">
                          <tr>
                            <th>{{language.user}}</th>
                            <th>{{language.jobId}}</th>
                            <th>{{language.qid}}</th>
                            <th>{{language.position}}</th>
                          </tr>
                          <tr>
                            <td>{{data.forUsercnameAr}}</td>
                            <td>{{data.forUserJobId}}</td>
                            <td>{{data.forUserQid }}</td>
                            <td>{{data.forUserjobTitle}}</td>
                          </tr> 
                    </table>
                </div>

                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>{{language.department}}</h5>
                      {{data.department}} 
                  </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>{{language.courseDate}}</h5>
                   {{  datepipe.transform(activation!=null && activation.courseDate!=null?activation.courseDate:"", 'dd/MM/yyyy') }} 
                   
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h5>{{language.estimatedDuration}}</h5>
                    {{activation!=null && activation.duration!=null ? activation.duration:""}}  -  {{durationValueString}} 
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>{{language.Approvals}}</h5>
                      <table border="1">
                          <tr>
                            <th>{{language.user}}</th>
                            <th>{{language.role}}</th>
                            <th>{{language.action}}</th>
                            <th>{{language.startDate}}</th>
                          </tr>
                          <tr  *ngFor="let item of historyExecutionsApprovals">
                            <td>{{item.assignee}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.deleteReason!=null?item.deleteReason:"Processing" }}</td>
                            <td>
                                {{  datepipe.transform(item.startTime, 'dd/MM/yyyy')}} 
                            </td>
                          </tr> 
                    
                    </table>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                      <h5>{{language.comments}}</h5>
                        <mat-list-item *ngFor="let item of items">
                              {{item}}
                        </mat-list-item>
                </div>
                <div  *ngIf="cancelledTask" color="warn"  fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-chip-list>
                        <mat-chip color="warn" selected> {{language.cancelRequest}} :  {{ cancelledTaskDate!=null? datepipe.transform(cancelledTaskDate, 'dd/MM/yyyy'):""}}   </mat-chip>
                     </mat-chip-list> 
               </div>
              </div>   
      </mat-card>
  </div>

